/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "./boards/shields/klink_kbd/common.keymap"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&gresc      &cmd_q_guard  &cmd_w_guard &rcmd_e_3  &rcmd_r_4    &rcmd_t_5  &rcmd_y_6  &rcmd_u_7  &rcmd_i_8  &rcmd_o_9      &rcmd_p_0            &kp BACKSLASH  &kp BSPC
&mt LCTRL TAB  &kp A      &kp S     &kp D  &kp F        &kp G  &kp H      &kp J  &kp K      &kp L           &kp SEMI             &kp RET
&kp LSHFT  &kp Z      &kp X     &kp C  &kp V        &kp B  &kp N      &kp M  &kp COMMA  &kp DOT         &mt RSHIFT SLASH  &mo 3
           &kp LCTRL  &kp LALT         &lt 1 SPACE         &lt 2 SPACE                    &kp RGUI        &kp DOWN_ARROW
            >;
        };

        layer1 {
            bindings = <
&trans     &kp N1  &kp N2  &kp N3          &kp N4          &kp N5           &kp N6            &kp N7             &kp N8  &kp N9     &kp N0            &kp MINUS  &kp EQUAL
&trans     &trans  &trans  &trans          &trans          &trans           &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans  &trans     &kp SINGLE_QUOTE  &trans
&trans     &trans  &trans  &trans          &trans          &trans           &trans            &trans             &trans  &trans  &kp SLASH       &trans
           &trans  &trans                  &trans                           &trans                                       &trans     &trans
            >;
        };

        layer2 {
            bindings = <
&trans  &trans  &trans             &trans  &kp LG(LS(N4))  &kp LG(LS(N5))  &trans      &trans              &device_bt2 0 0  &trans                &kp LG(LC(LA(UP_ARROW)))     &trans  &trans
&trans  &trans  &kp LG(LC(LA(S)))  &trans  &trans          &trans          &Device_USB &device_bt1 0 0     &device_bt3 0 0  &kp LG(LC(LA(LEFT_ARROW)))  &kp LG(LC(LA(RIGHT_ARROW)))  &trans
&trans  &trans  &asana_focus        &trans  &kp LG(LC(V))   &trans          &asana_section &kp LG(LC(LA(M)))  &trans          &kp LG(LC(LA(DOWN_ARROW)))  &trans                        &trans
        &trans  &trans                     &trans                            &trans                                                    &trans                        &trans
            >;
        };

        layer3 {
            bindings = <
&kp GRAVE    &kp F1        &kp F2      &kp F3      &kp F4        &kp F5        &kp F6     &kp F7  &kp F8  &kp F9       &kp UP_ARROW    &trans  &trans
&kp CAPSLOCK &kp C_VOL_DN  &kp C_VOL_UP &kp C_MUTE  &trans        &trans        &bootloader &trans  &trans  &kp LEFT_ARROW &kp RIGHT_ARROW &trans
&trans       &trans     &trans        &trans        &trans        &trans        &trans     &trans  &trans  &kp DOWN_ARROW &trans          &trans
             &trans     &trans                      &trans                      &trans                    &trans          &trans
            >;
        };

        layer4 { status = "reserved"; };
        layer5 { status = "reserved"; };
        layer6 { status = "reserved"; };
        layer7 { status = "reserved"; };
    };
};
